body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg,#0f2027,#203a43,#2c5364);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.calculadora{
    background:white;
    padding:20px;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,0.3);
    text-align:center;
}

h1{
    margin-bottom:15px;
}

#pantalla{
    width:100%;
    height:50px;
    font-size:22px;
    text-align:right;
    margin-bottom:15px;
    padding:5px;
    border:2px solid #ccc;
    border-radius:8px;
}

.botones{
    display:grid;
    grid-template-columns:repeat(4,70px);
    gap:10px;
}

button{
    height:50px;
    font-size:18px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    background:#e0e0e0;
    transition:0.2s;
}

button:hover{
    background:#c9c9c9;
}

.operador{
    background:#ff9500;
    color:white;
}

.operador:hover{
    background:#e08600;
}

.igual{
    background:#34c759;
    color:white;
}

.limpiar{
    background:#ff3b30;
    color:white;
}
